<button class="btn btn-default download-csv" {{action "export"}}>Download as CSV</button>
<table class="table">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Value</th>
      <th>Records</th>
      <th>Impact</th>
    </tr>
  </thead>
  <tbody>
    {{#each tags as |tag|}}
    <tr>
      <td>{{tag.tagName}}</td>
      <td>{{tag.tagValue}}</td>
      <td>{{tag.records}}</td>
      <td>{{tag.impact}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>